<app-main-nav>
  <div class="cover bg-1">
    <div>
      <div class="txt-header">
        <h2>Flexiblity Reinvented.</h2>
        <h3>Sign up &amp; enjoy access <br>
          to multiple gyms with <br>
          Flex Pass.</h3>
      </div>
       <div class="btn-contain-width">
          <div class="header-btn">
            <button mat-button [routerLink]="['/signup']">Sign Up</button>
            <button mat-button>Explore Gyms</button>
          </div>
       </div>
    </div>
  </div>
  <div class="cover-1">

    <h1>What you get.</h1>
    
   <div class="div-3">
      <div class="center-div">
        <h2>Discover</h2>
        <p>Find gyms at your <br>
        desired locations!</p>
        <img src="../../../assets/images/Screen Shot 2018-06-01 at 2.28.14 PM.png" alt="" width="300px">
      </div>
      <div class="center-div">
        <h2>Busy Times</h2>
        <p>Easily view popular gym times <br>
        for your convenience.
        </p>
        <img src="../../../assets/images/Screen Shot 2018-06-01 at 1.10.52 PM.png" alt="" width="350px" >
      </div>
      <div class="center-div">
        <h2>Memberships</h2>
        <p>Select from one of <br>
        our 3 Membership plans.</p>
        <img   class="pad" src="../../../assets/images/Flex-tix@216x-8.png" alt="" width="200px">
      </div>
   </div>

  </div>


</app-main-nav>

