.rating {
  color: transparent;
  direction: rtl;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  
 
  &:before,
  &:after {
    content: attr(data-star);
    direction: ltr;
    font-size: 20px;
    font-size: 1rem;
    font-size-adjust: .6125;
    line-height: 1;
    pointer-events: none;
    text-align: left;
    white-space: nowrap;
  }
  
  &:before {
    color: #AAA;
    color: rgba(0, 0, 128, .1);
    display: block;
    text-shadow: -1px 0px 0 rgba(255, 255, 255, .6),1px 1px 0 rgba(0, 0, 0, .6);
  }
  
  &:after {
    color: #C70;
    color: rgba(255, 205, 7, 0.94);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
  }
  
  &[data-star="horrible"] {
    text-transform: uppercase;
    
    &:before {
      color: #D00;
    }
  }
  
  &[data-star="unrated"] {
    text-transform: capitalize;
    
    &:before {
      color: #09D;
    }
  }
}

@for $i from 1 through 100 {
  .rating[data-rating="#{$i}"]:after {
    width: #{$i}#{'%'};
  }
}




// /* ignore */
// html {
//   background: #AAA;
//   background: -webkit-linear-gradient(top, #CCC 0%, #888 25%, #777 100%);
//   background: linear-gradient(to bottom, #CCC 0%, #888 25%, #777 100%);
//   height: 100%;
//   text-align: center;
// }

// body {
//   background: #EEE;
//   background: black -webkit-linear-gradient(top, white, rgba(255, 255, 255, .7));
//   background: black linear-gradient(to bottom, white, rgba(255, 255, 255, .75));
//   box-shadow: 0 0 1em black;
//   padding: .5em;
// }

// em {
//   display: inline-block;
//   line-height: 2;
//   text-indent: 1em;
//   vertical-align: middle;
// }